/* * {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
} */

.app {
  font-family: sans-serif;
  text-align: center;
}

.input-search {
  width: 500px;
  padding: 6px;
}

.result-container {
  text-align: left;
  padding: 6px;
  border: 1px solid gray;
  width: 500px;
  margin: auto;
  max-height: 500px;
  overflow-y: scroll;
}

.result {
  display: block;
  padding: 4px;
}

.result:hover {
  background-color: rgb(207, 245, 255);
  cursor: pointer;
}
